@page "/orders"

<PageTitle>COmenzile mele</PageTitle>

<div class="container">
   <h1>Comenzile Mele</h1>
   @if (MyOrders is null){
    <p>Loading...</p>
   }
   else if(!MyOrders.Any())
   {
    <div class ="alert alert-light text-center text-muted">
         Nu ai nici o comanda inca.
    </div>

   }
   else
   {
    <div class = "row g-3" >
        @foreach(var order in MyOrders)
        {
            <div class="col-12">
                <div class ="card">
                    <div class = "card=body">
                        <div class = "d-flex justify-content-between align-items-start">
                            <div>
                                <h5 class = "card-title mb-1">@order.PackageName</h5>
                                <p class ="text-muted small"> @order.BusinessName</p>
                                <p class ="text-muted small">@order.Date.ToString("dd.MM.yyyy HH:mm")</p>
                            </div>
                        </div>
                        <div class "text-end">  
                            <span class ="badge-rounded-pill bg-success-subtle text-succes-emphasis">@order.Status</span>
                            <div class= "fw-semibold">@order.Status</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
   }


</div>